
[Traces]
files=1
trace_type=f
transpose=true
index=0
nsamples=6095
trace=realigned 300 6095

[Guesses]
files=1
guess_type=u
transpose=true
guess=traces.trs.input 300 16

[General]
threads=8
order=1
return_type=double
algorithm=AES
position=LUT/AES_AFTER_SBOX
round=0
bitnum=none
bytenum=all
#correct_key=0x000102030405060708090a0b0c0d0e0f
memory=4G
top=20
